<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Список чатов</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <meta content="#ffffff" name="theme-color">
    <link href="/static/css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="discussions">

    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/static/js/discussions.js"></script>
</body>
</html>
